*
{
  padding: 0;
  margin: 0;
}

body
{
  padding: 4rem;
  background-color: hsl(216, 33%, 97%);
  display: flex;
  justify-content: center;
}

hr
{
  border: 0.5px solid hsl(214, 15%, 91%);
}

#wrapper
{
    max-width: 64rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
}
