.primaryButton {
  /* Transition */
  transition: .075s ease-in-out;
  /* Layout */
  display: inline-block;
  /* Sizing */
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: auto;
  height: 3em;
  /* Text */
  text-decoration: none;
  line-height: 2.8em;
  /* Color */
  background-color: hsl(0, 0%, 100%);
  /* Flair */
  border-radius: 1.5em;
  box-shadow: 0 .0625em .1875em -.0625em hsla(0, 0%, 0%, .24), 0 .125em .25em -.0625em hsla(0, 0%, 0%, .12);
}
.primaryButton:hover {
  color: hsla(245, 80%, 60%, .6);
  transform:translateY(-.125em);
  box-shadow: 0 .1875em .375em -.0625em hsla(0, 0%, 0%, .15), 0 .125em .25em -.0625em hsla(0, 0%, 0%, .12);
}
.primaryButton:active {
  transform: translateY(.0625em);
  box-shadow: 0 .0625em .125em -.0625em hsla(0, 0%, 0%, .24);
}

.buttonIcon {
  margin-right: .5em;
  vertical-align: middle;
  display: inline-block;
  height: 1.5em;
}

.buttonArrowIcon {
  height: .75em;
  margin-left: .5em;
  margin-top: 1.2em;
  display: inline-block;
  float: right;
}

.spacer {
  width: auto;
  height: auto;
  display: inline-block;
}
