#header-button-grid {
  display: grid;
  grid-template-areas: "a b c";
  grid-column-gap: 1em;
}

#design-button {
  grid-area: 'a';
}

#software-button {
  grid-area: 'b';
}

#photography-button {
  grid-area: 'c';
}
