body {
  background-color: hsl(245, 30%, 96%);
}

.content-wrapper {
  width: 800pt;
  margin: 0 auto;
}

#header {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.5em;
  padding-bottom: 2em;
  border-bottom: 1px solid hsl(245, 35%, 86%);
}

#summary {
  width: 66%;
  margin: 2em;
}

@media screen and (max-width: 800pt) {

  .content-wrapper {
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 400pt) {

  #summary {
    width: 100%;
  }

}
