body {
  font-family: 'acumin-pro', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  color: hsl(245, 13%, 12%);
}

/* Headers */

h1 {
  font-family: 'titling-gothic-fb', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5em;
  line-height: 1;
  color: hsl(245, 80%, 60%);
  margin-bottom: .3em;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  color: hsl(245, 9%, 60%);
  letter-spacing: 1.5;
}

.link {
  font-size: 1.125em;
  color: hsl(245, 80%, 60%);
  text-decoration: none;
  border-bottom: 2pt solid hsl(245, 80%, 60%);
}
.link:hover {
  /* Transition */
  transition: .075s ease-in-out;
  padding-bottom: -1pt;
  color: hsla(245, 80%, 60%, .6);
  border-bottom: 2pt solid hsla(245, 80%, 60%, .6);
  font-style: italic;
}
.link:active {
  padding-bottom: 0pt;
  font-style: italic;
}

.extra-link-spacing {
  margin-right: 1em;
}

/* Body styles */

p {
  font-size: 1.125em;
}

/* Element Styles */

.primaryButton {
  font-size: 1.125em;
  color: hsl(245, 80%, 60%);
  border-bottom: none;
}

@media screen and (max-width: 400pt) {

  body {
    font-size: 110%;
  }

  h1 {
    font-size: 3em;
  }

}
